body {
    margin: 20px;
    background-image: url(v10cssG/bg-obroba.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: "Open Sans", sans-serif;
}
h1 {
    color: #996600;
}
.oznaka {
    font-style: italic;
    font-family: Consolas, "Courier New", monospace;
    color: blue;
}
img {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-style: outset;
    border-width: 3px;
    border-color: #9fb23e;
}
.okvir {
    float: right;
    margin: 0px, 10px, 5px, 10px;
    padding: 10px;
    height: 150px;
    width: 200px;
    font-size: 120%;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
}
.kvadrat{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 3px;
    border-width: 20px;
    border-style: ridge;
    border-color: silver;
    color: white;
}
.črta {
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-bottom-color: gray;
    borewr
}